
<div>
    <div>
        <div>
            <div style="background-color: rgb(246, 246, 246);" class="x_-982293368es-wrapper-color">
                <table style="border-collapse: collapse; border-spacing: 0px; padding: 0px; margin: 0px; height: 100%; background-repeat: repeat; background-position: center top;" cellpadding="0" cellspacing="0" class="x_-982293368es-wrapper">
                    <tbody>
                        <tr style="border-collapse: collapse">
                            <td style="padding: 0; Margin: 0" valign="top">
                                <table style="border-collapse: collapse; border-spacing: 0px; table-layout: fixed; width: 100%" align="center" class="x_-982293368es-content" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-collapse: collapse">
                                            <td style="padding: 0; Margin: 0" align="center" class="x_-982293368es-adaptive">
                                                <table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; background-color: transparent; width: 600px" class="x_-982293368es-content-body">
                                                    <tbody>
                                                        <tr style="border-collapse: collapse">
                                                            <td style="padding: 10px; Margin: 0" align="left">
                                                                <table style="border-collapse: collapse; border-spacing: 0px; float: left" align="left" cellpadding="0" cellspacing="0" class="x_-982293368es-left">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0; Margin: 0; width: 280px" align="left">
                                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 0px; margin: 0px; line-height: 14px; font-size: 12px; color: rgb(153, 153, 153);" align="left" class="x_-982293368es-infoblock x_-982293368es-m-txt-c">
                                                                                                <p style="margin: 0px; line-height: 14px;">
                                                                                                    <br>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                                <table style="border-collapse: collapse; border-spacing: 0px; float: right" align="right" cellpadding="0" cellspacing="0" class="x_-982293368es-right">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0; Margin: 0; width: 280px" align="left">
                                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 0px; margin: 0px; line-height: 14px; font-size: 12px; color: rgb(153, 153, 153);" class="x_-982293368es-infoblock x_-982293368es-m-txt-c" align="right">
                                                                                                <p style="margin: 0px; line-height: 14px;">
                                                                                                    <span class="colour" style="color: rgb(153, 153, 153);">
                                                                                                        <span class="font" style="font-family: arial, &quot;helvetica neue&quot;, helvetica, sans-serif;">
                                                                                                            <span class="size" style="font-size: 12px; margin: 0px; line-height: 14px;">
                                                                                                                &nbsp;
                                                                                                            </span>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                    <br>
                                                                                                </p>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="border-collapse: collapse; border-spacing: 0px; table-layout: fixed; width: 100%; background-color: transparent; background-repeat: repeat; background-position: center top" align="center" class="x_-982293368es-header" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-collapse: collapse">
                                            <td style="padding: 0; Margin: 0" align="center">
                                                <table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; background-color: rgb(255, 255, 255); width: 600px;" class="x_-982293368es-header-body">
                                                    <tbody>
                                                        <tr style="border-collapse: collapse">
                                                            <td align="left" bgcolor="#ffffff" style="padding: 15px; margin: 0px; background-color: rgb(255, 255, 255);">
                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0; Margin: 0; width: 570px" align="center" valign="top">
                                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 0; Margin: 0; font-size: 0px" align="center">
                                                                                                <br>
                                                                                                <img src="https://zmdownload-accl.zoho.com/zm/ImageDisplay?na=6604052000000008002&amp;nmsgId=1657184934724110001&amp;f=1.png&amp;mode=inline&amp;cid=0.28869202910.1483196299596303263.18da7f2219a__inline__img__src&amp;" width="150" height="41">
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="border-collapse: collapse; border-spacing: 0px; table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" class="x_-982293368es-content">
                                    <tbody>
                                        <tr style="border-collapse: collapse">
                                            <td style="padding: 0; Margin: 0" align="center">
                                                <table style="border-collapse: collapse; border-spacing: 0px; background-color: rgb(255, 255, 255);" align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" class="x_-982293368es-content-body">
                                                    <tbody>
                                                        <tr style="border-collapse: collapse">
                                                            <td style="padding: 0; Margin: 0; padding-top: 10px; padding-left: 20px; padding-right: 20px" align="left">
                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0; Margin: 0; width: 560px" align="center" valign="top">
                                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 10px 0px; margin: 0px; font-size: 0px; width: 96px;" align="center">
                                                                                                <table style="border-collapse: collapse; border-spacing: 0px" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                                                                                                    <tbody>
                                                                                                        <tr style="border-collapse: collapse">
                                                                                                            <td style="padding: 0px; border-bottom: 1px solid rgb(239, 239, 239); background: rgb(255, 255, 255); height: 5px; width: 96px; margin: 0px;">
                                                                                                                f
                                                                                                                <br>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr style="border-collapse: collapse">
                                                            <td style="padding: 0; Margin: 0; padding-top: 15px; padding-left: 20px; padding-right: 20px" align="left">
                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0px; margin: 0px; width: 560px; height: 121.8px" align="center" valign="top">
                                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 0px; margin: 0px; width: 96px;" align="center">
                                                                                                <div class="x_472175105align-left" style="text-align: left;">
                                                                                                    Dear:
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <br>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                        <tr style="border-collapse: collapse">
                                                            <td style="padding: 0; Margin: 0; padding-top: 15px; padding-left: 20px; padding-right: 20px" align="left">
                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0; Margin: 0; width: 560px" align="center" valign="top">
                                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 10px 0px; margin: 0px; font-size: 0px; width: 96px;" align="center">
                                                                                                <table style="border-collapse: collapse; border-spacing: 0px" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%">
                                                                                                    <tbody>
                                                                                                        <tr style="border-collapse: collapse">
                                                                                                            <td style="padding: 0px; border-bottom: 1px solid rgb(239, 239, 239); background: rgb(255, 255, 255); height: 1px; width: 96px; margin: 0px;">
                                                                                                                <br>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="border-collapse: collapse; border-spacing: 0px; table-layout: fixed; background-color: transparent; background-repeat: repeat; background-position: center top" align="center" class="x_-982293368es-footer" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-collapse: collapse">
                                            <td style="padding: 0; Margin: 0" align="center">
                                                <table align="center" bgcolor="#1a1d2c" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; background-color: rgb(26, 29, 44);" class="x_-982293368es-footer-body">
                                                    <tbody>
                                                        <tr style="border-collapse: collapse">
                                                            <td style="padding: 0; Margin: 0" align="left">
                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0; Margin: 0; width: 600px" align="center" valign="top">
                                                                                <table bgcolor="#ffffff" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; border-spacing: 0px; background-color: rgb(255, 255, 255);">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 0px; margin: 0px; font-size: 0px; width: 600px" align="center">
                                                                                                <span class="colour" style="color: rgb(153, 153, 153);">
                                                                                                    <span class="font" style="font-family: arial, &quot;helvetica neue&quot;, helvetica, sans-serif;">
                                                                                                        <span class="size" style="font-size: 12px; margin: 0px; line-height: 14px;">
                                                                                                        </span>
                                                                                                    </span>
                                                                                                </span>
                                                                                                <br>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table style="border-collapse: collapse; border-spacing: 0px; table-layout: fixed; width: 100%" align="center" class="x_-982293368es-content" cellspacing="0" cellpadding="0">
                                    <tbody>
                                        <tr style="border-collapse: collapse">
                                            <td style="padding: 0px; margin: 0px; width: 74px;" align="center">
                                                <table align="center" bgcolor="#ffffff" cellpadding="0" cellspacing="0" style="border-collapse: collapse; border-spacing: 0px; background-color: transparent; width: 600px" class="x_-982293368es-content-body">
                                                    <tbody>
                                                        <tr style="border-collapse: collapse">
                                                            <td style="Margin: 0; padding-bottom: 10px; padding-top: 20px; padding-left: 20px; padding-right: 20px" align="left">
                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0" width="100%">
                                                                    <tbody>
                                                                        <tr style="border-collapse: collapse">
                                                                            <td style="padding: 0; Margin: 0; width: 560px" align="center" valign="top">
                                                                                <table style="border-collapse: collapse; border-spacing: 0px" cellpadding="0" cellspacing="0">
                                                                                    <tbody>
                                                                                        <tr style="border-collapse: collapse">
                                                                                            <td style="padding: 5px 0px 10px; margin: 0px; line-height: 14px; font-size: 12px; color: rgb(153, 153, 153);" align="center" class="x_-982293368es-infoblock">
                                                                                                <div>
                                                                                                    <span class="size" style="font-size: 10.6667px;">
                                                                                                        CONFIDENTIALITY NOTICE: This email, including any attachments, is intended solely for the use of the named recipient(s) and may contain confidential and/or privileged information. If you have received this email in error, please notify the sender immediately and delete the original message from your system. Any unauthorized use, distribution, or copying of this communication is strictly prohibited.
                                                                                                    </span>
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <span class="size" style="font-size: 10.6667px;">
                                                                                                        <span class="colour" style="color: rgb(153, 153, 153);">
                                                                                                            <span class="font" style="font-family: arial, &quot;helvetica neue&quot;, helvetica, sans-serif;">
                                                                                                                <span class="size" style="font-size: 12px; margin: 0px; line-height: 14px;">
                                                                                                                    ©2024 Fadaeco (Pty) Ltd.
                                                                                                                </span>
                                                                                                            </span>
                                                                                                        </span>
                                                                                                        All rights reserved.
                                                                                                    </span>
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <br>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <span class="colour" style="color: rgb(153, 153, 153);">
                                                                                                        <span class="font" style="font-family: arial, &quot;helvetica neue&quot;, helvetica, sans-serif;">
                                                                                                            <span class="size" style="font-size: 12px; margin: 0px; line-height: 14px;">
                                                                                                            </span>
                                                                                                        </span>
                                                                                                    </span>
                                                                                                    <br>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div>
        <br>
    </div>
</div>
